body {
  background: url("../starter-code/assets/crew/background-crew-desktop.jpg");
  background-position: 0px -14rem;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: var(--bg-black);
}

/* nav links */

header {
  @media (max-width: 1260px) {
    margin-bottom: 2rem;
  }
}

li:nth-child(3) a:hover::after {
  opacity: 1;
}

li:nth-child(3) a::after {
  background-color: var(--White);
}

/* main */

main {
  @media (max-width: 1260px) {
    row-gap: 5rem;
    align-items: center;
    flex-direction: column;
  }
}

.leftPart {
  width: 45%;
  display: flex;
  margin-left: 10.2rem;
  flex-direction: column;
  @media (max-width: 1260px) {
    width: 100%;
    margin-left: 0rem;
  }
}

.leftPart .name-des {
  display: flex;
  flex-direction: column;
  @media (max-width: 1260px) {
    align-items: center;
  }
}

.leftPart .crew {
  font-size: 1.8rem;
  color: var(--White);
  letter-spacing: 3px;
  margin: 0 0 7rem 2.8rem;
}

.leftPart .name-des h3 {
  opacity: 50%;
  font-size: 1.75rem;
  color: var(--White);
  font-family: var(--Bellefair);
}

.leftPart h2 {
  font-size: 3.4rem;
  color: var(--White);
  margin-block: 1rem 0;
  font-family: var(--Bellefair);
}

.leftPart .para {
  margin-block: 1.5rem 3.5rem;
  @media (max-width: 1260px) {
    width: 63%;
  }
}

.leftPart .para p {
  width: 61%;
  font-size: 1.1rem;
  line-height: 1.8rem;
  @media (max-width: 1260px) {
    width: 90%;
    text-align: center;
  }
}

.dots {
  display: flex;
}

.dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.166);
}

.dot {
  margin-inline: 0 25px;
}

.dot:hover {
  opacity: 0.5;
  cursor: pointer;
  background-color: rgba(255, 255, 255);
}

.dots .bg {
  opacity: 1;
  background-color: var(--White);
}

/* rightPart */

.rightPart {
  @media (max-width: 1260px) {
    text-align: center;
  }
}

.rightPart img {
  width: 74.3%;
  @media (max-width: 1260px) {
    width: 70%;
  }
}
