body {
  background: url("../starter-code/assets/crew/background-crew-desktop.jpg");
}

li:nth-child(3) a:hover::after {
  opacity: 1;
}

li:nth-child(3) a::after {
  background-color: var(--White);
}
