@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400&display=swap");

:root {
  /*colors */
  --White: hsl(0, 0%, 100%);
  --bg-black: hsl(230, 35%, 7%);
  --light-shade-blue: hsl(231, 77%, 90%);

  /* font family */
  --Barlow: "Barlow", sans-serif;
  --Bellefair: "Bellefair", sans-serif;
  --Barlow-Condensed: "Barlow Condensed", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  text-transform: uppercase;
}

h1 {
  font-family: var(--Bellefair);
}

h3 {
  font-family: var(--Barlow-Condensed);
}

a,
a:visited {
  color: var(--White);
  font-family: var(--Barlow-Condensed);
}

li a:hover::after {
  opacity: 0.5;
  background-color: var(--White);
}

li a span {
  font-weight: 900;
  color: var(--White);
}

nav {
  backdrop-filter: blur(1.5rem);
  background: hsla(0, 0%, 100%, 0.05);
}

hr {
  height: 1px;
  opacity: 0.2;
  color: var(--light-shade-blue);
}

.clr-white {
  color: var(--White);
}

.bg-black {
  background-color: var(--bg-black);
}

body .light-blue {
  font-weight: 300;
  color: var(--light-shade-blue);
  font-family: var(--Barlow-Condensed);
}

.para p {
  font-family: var(--Barlow);
}

.bg-white {
  background-color: var(--White);
}

.Explore {
  font-weight: 500;
  font-family: var(--Bellefair);
}

.numbers {
  color: var(--White);
  font-family: var(--Bellefair);
  border: 1px solid var(--light-shade-blue);
}

.numbers:first-child {
  color: var(--bg-black);
  background-color: var(--White);
}

.numbers:hover {
  cursor: pointer;
  border-color: var(--White);
}

.bodyContentRight > div {
  color: var(--light-shade-blue);
  font-family: var(--Barlow-Condensed);
}

.bodyContentRight h2 {
  color: var(--White);
  font-family: var(--Bellefair);
}
