* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

main {
  display: flex;
}

header {
  display: flex;
  padding-left: 3rem;
  position: relative;
  align-items: center;
  justify-content: space-between;
  @media (min-width: 1260px) {
    padding: 2.2rem 0 3rem 3rem;
  }
}

@media (min-width: 630px) {
  nav {
    display: block !important;
  }
  .hamburger {
    display: none;
  }
}

nav {
  display: none;
  /* width: 60%; */
}

hr {
  width: 33%;
  right: 56.2%;
  z-index: 999;
  display: none;
  position: absolute;
}

#hamburger {
  margin-right: 2rem;
}

@media (min-width: 1260px) {
  hr {
    display: flex;
  }
}

ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

li {
  position: relative;
}

nav ul li:not(:last-child) {
  margin-inline: 0 4rem;
}

nav li {
  padding-block: 2rem;
}

li a::after {
  left: 0;
  top: 96%;
  content: "";
  height: 4px;
  width: 100%;
  position: absolute;
  border-radius: 100vh;
}

a {
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

li a span {
  display: none;
  font-size: 20px;
  margin-inline: 0 0.2rem;
  @media (min-width: 1260px) {
    display: inline;
  }
}

.leftPart > h3 > span {
  opacity: 0.25;
  font-weight: 800;
  margin-right: 10px;
}
