body {
  height: 100%;
  background-image: url("../starter-code/assets/home/background-home-desktop.jpg");
  background-size: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  margin-block: 0 4rem;
}

li:first-child a:hover::after {
  opacity: 1;
}

li:first-child a::after {
  background-color: var(--White);
}

main {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

/* Left section */

.leftSection {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h3 {
  font-size: 1.52rem;
  letter-spacing: 4.75px;
}

h1 {
  font-weight: 300;
  margin-block: 1rem;
  text-transform: uppercase;
  font-size: clamp(5rem, 10dvw, 12rem);
}

.para p {
  width: 54%;
  font-size: 1.03rem;
  line-height: 1.85rem;
}

/* Right */

.Explore {
  width: 274px;
  display: flex;
  height: 274px;
  font-size: 2rem;
  border-radius: 50%;
  position: relative;
  align-items: center;
  letter-spacing: 2px;
  justify-content: center;
  text-transform: uppercase;
}

.Explore::before {
  width: 0;
  height: 0;
  content: "";
  opacity: 0.18;
  position: absolute;
  border-radius: 50%;
  transition: all 1s ease-in-out;
  background-color: rgba(255, 255, 255);
}

.Explore:hover::before {
  width: 390px;
  height: 390px;
  cursor: pointer;
}

@media (max-width: 986px) {
  header {
    margin-bottom: 7rem;
  }
  main {
    row-gap: 12rem;
    text-align: center;
    align-items: center;
    margin-bottom: 4rem;
    flex-direction: column;
  }
  .leftSection {
    align-items: center;
  }
  main .leftSection .para p {
    width: 92%;
  }
}

@media (max-width: 630px) {
  header {
    margin-top: 2rem;
  }
}
