body {
  background: url("../starter-code/assets/technology/background-technology-desktop.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

li:last-child a:hover::after {
  opacity: 1;
}

li:last-child a::after {
  background-color: var(--White);
}
