body {
  background: url("../starter-code/assets/technology/background-technology-desktop.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  @media (max-width: 986px) {
    background: url("../starter-code/assets/technology/background-technology-tablet.jpg");
  }
}

/* nav links */

li:last-child a:hover::after {
  opacity: 1;
}

li:last-child a::after {
  background-color: var(--White);
}

/* main */

main {
  @media (max-width: 986px) {
    flex-direction: column-reverse;
  }
}

.leftPart {
  margin-left: 11dvw;
}

.leftPart h3 {
  font-size: 1.5rem;
  color: var(--White);
  letter-spacing: 4px;
  margin-bottom: 5rem;
}

.bodyContent {
  display: flex;
  column-gap: 4rem;
  @media (max-width: 986px) {
    column-gap: 0;
    align-items: center;
    flex-direction: column;
  }
}

.changeables {
  @media (max-width: 986px) {
    margin: 0;
    display: flex;
    column-gap: 2rem;
    align-items: center;
    justify-content: center;
  }
}

.numbers {
  font-weight: 500;
  font-size: 1.6rem;
  padding: 16px 25px;
  border-radius: 50%;
}

.numbers:nth-child(even) {
  margin-block: 2.5rem;
}

.bodyContentRight .terminology {
  font-size: 15px;
  word-spacing: 2px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.bodyContentRight h2 {
  font-size: 3.5rem;
  margin-block: 0.4rem 1.2rem;
}

.para {
  @media (max-width: 986px) {
    display: flex;
    justify-content: center;
  }
}

.para p {
  width: 59.5%;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.85rem;
}

.rightPart {
  width: 70%;
}

main img {
  width: 100%;
  margin-top: 2.3rem;
  object-fit: contain;
  background-repeat: no-repeat;
}
